.header__menu {
	display: none;
}

@media screen and (min-width: 1551px) {
	div.message {
		left: 20%;
		top: 30%;
	}
}

@media screen and (max-width: 1550px) {
	div.message {
		position: absolute;
		left: 10%;
		top: 30%;
	}

}

@media screen and (min-width: 881px){
    	img.logo_m {
		display: none;
	}
}

@media screen and (max-width: 880px) {
	img.logo_2,
	img.logo {
		display: none;
	}

	div.message {
		position: absolute;
		left: 5%;
		top: 10%;
	}

	.nav {
		z-index: 10;
		background-color: #fff;
		width: 350px;
		position: absolute;
		/* This trasform moves the drawer off canvas. */
		-webkit-transform: translate(-350px, 0);
		transform: translate(-350px, 0);
		/* Optionally, we animate the drawer. */
		transition: transform 0.3s ease;
	}

	.nav.open {
		-webkit-transform: translate(0, 0);
		transform: translate(0, 0);
	}

	.nav__item {
		display: list-item;
		border-bottom: 1px solid #E0E0E0;
		width: 100%;
		text-align: left;
		padding: 3% 3%;
	}

	.nav a {
		padding: 1.2em 14em 1.2em 1em;
	}

	.header__menu {
		display: inline-block;
		position: absolute;
		right: 0;
		padding: 1em;
	}

	.header__menu svg {
		width: 32px;
		fill: #002855;
	}

	.contacts a,
	.contacts span {
		font-size: 1.1em;
	}

	img.oo {
		width: 350px;
	}
}

@media screen and (max-width: 740px) {
	div.message h1 {
		/*	.order{*/
		font-size: 0.9em;
	}
	div.description,
	div.youtube {
		width: 100%;
	}
}

@media screen and (max-width: 650px) {
	#menu {
		padding-top: 5px;
	}
	div.logo {
		width: 80%;
	}

	div.logo_2 {
		width: 15%;
		margin-top: 0;
	}

	img.logo_m {
		width: 80%;
		margin-top: 5px;
	}

	.tel {
		display: none;
	}

	.tel_2,
	.mail {
		width: 50%;
	}

	.contacts a,
	.contacts span {
		font-size: 1em;
	}

	img.truck_650 {
		width: 100%;
	}

	img.truck {
		display: none;
	}

	#manager,
	#card,
	#tacho,
	#kamaz,
	#abs,
	#akb,
	#speed {
		margin: 2% 0 0 2%;
		width: 90%;
	}
	.address {
		width: 83%
	}
}

@media screen and (min-width: 651px) {
	img.truck_650 {
		display: none;
	}
}

@media screen and (max-width: 385px) {
    	div.message {
		left: 5%;
		top: 10%;
	}
	img.oo {
		width: 80%;
	}

	.tel_2 a,
	.mail a {
		width: 100%;
		padding: 1em 0 1em 0.5em;
		font-size: 0.9em;
	}

	.youtube {
		display: none;
	}

	.job {
		width: 100%;
		margin: 0.5em 0 0 0;
	}

	.tachograph a.order {
		width: 70%;
		margin: 2%;
	}
	.social {
		display: flex;
		flex-wrap: wrap;
	}

	.address {
		margin-top: 4%;
	}
}
