@font-face {
	font-family: 'Etelka Wide Light Pro';
	src: url('../fonts/EtelkaWideLightPro.eot');
	src: url('../fonts/EtelkaWideLightPro.eot?#iefix') format('embedded-opentype'),
	url('../fonts/EtelkaWideLightPro.woff') format('woff'),
	url('../fonts/EtelkaWideLightPro.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

body,
html {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Etelka Wide Light Pro';
	font-size: 12px;
	color: #424242;
	max-width: 1300px;
	margin-left: auto;
	margin-right: auto;
}

main {
	display: flex;
	flex-direction: column;
	height: 80%;
}

section {
	flex: 1 0 auto;
}

/*
 *
 * Header
 *
 */

header,
.contacts,
.online {
	display: flex;
	flex-wrap: wrap;
}

.logo,
.logo_2 {
	width: 48%;
	margin: 1% 1% 0;
}

img.logo {
	width: 60%;
}

img.logo_2 {
	width: 55%;
	float: right;
}

.contacts {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	box-shadow: 0px 9px 5px -3px rgba(0, 40, 85, 0.24);
}

.cont {
	display: flex;
	flex-wrap: wrap;
	width: 33%
}

.contacts a,
.contacts span {
	font-size: 1.5em;
	text-decoration: none;
	color: #616161;
	padding: 1em;
	width: 100%;
}


i.fa.fa-phone,
i.fa.fa-envelope-o {
	margin: 1% 1% 0 0;
}


/*
 *
 * Top Level Navigation
 *
 */

.nav {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.nav__list {
	width: 100%;
	padding: 0;
	margin: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	border-top: 1px solid #616161;
}

.nav__item {
	width: 16.5%;
	box-sizing: border-box;
	display: inline-block;
	text-align: center;
	line-height: 24px;
	padding: 1% 0;
	text-transform: uppercase;
}

.nav__item:hover {
	box-shadow: inset 0px -18px 23px -15px rgba(0, 40, 85, 0.24);
}

.nav__item:active {
	box-shadow: inset 0px -18px 23px -15px rgba(251, 70, 20, 0.24);
}

.nav a {
	text-decoration: none;
	color: #616161;
	padding: 1em 0;
}


/*
 *
 * Main
 *
 */

.truck {
	width: 100%;
}

.about,
.how_it_works,
.tachograph,
.contact,
.dopog,
.orders {
	margin: 3%;
	width: 95%;
}

.message {
	position: absolute;
	top: 100px;
	left: 5%;
	width: 40%;
	color: white;
	font-size: 1.8em;
}

.order,
button.doc_tacho {
	font-family: 'Etelka Wide Light Pro';
	width: 180px;
	color: white;
	background-color: rgba(251, 70, 20, 1);
	font-size: 1.5em;
	border-radius: 0.1em;
	border: none;
}

.order:hover,
button.doc_tacho:hover {
	background-color: #fe0000;
	cursor: pointer;
}

.online > div {
	width: 49%;
}

.description {
	padding: 1%;
	font-size: 1.5em;

}

.program {
	margin-top: 10%;
	display: flex;
    flex-wrap: nowrap;
}

.program img {
	height: 90%;
    width: 90%;
}

.youtube iframe {
	width: 100%;
}

section p {
	font-size: 18px;
	margin: 10px;
}

#manager,
#card,
#tacho,
#kamaz,
#abs,
#akb {
	display: flex;
	padding: 2%;
	width: 50%;
}

#speed {
	display: flex;
	padding: 2%;
	width: 20%;
}

a.order {
	text-decoration: none;
	color: white;
	font-size: 2em;
}

.tachograph a.order {
	margin: 10%;
}

a.link {
	text-decoration: none;
	font-weight: bold;
	color: rgba(0, 40, 85, 1);
}

a.link:hover {
	color: #fb4614;
}

.back {
	margin-bottom: 3%;
	font-family: 'Etelka Wide Light Pro';
	width: 150px;
	color: white;
	background-color: rgba(0, 40, 85, 1);
	font-size: 2em;
	border-radius: 0.1em;
	border: none;
}

.back:hover,
button.doc_tacho:hover {
	background-color: #fe0000;
	cursor: pointer;
}

.job {
	width: 90%;
	margin: 1em 0 0 1.5em;
}

button.doc_tacho {
	width: 300px;
}

.mapa {
	width: 98%;
}

footer {
	display: flex;
	flex-wrap: wrap;
	flex: 0 0 auto;
	width: 100%;
	max-width: 1300px;
	height: 170px;
	background-color: rgba(0, 40, 85, 1)
}

.social {
	width: 15%;
}


.fa.fa-facebook-square {
	color: white;
	font-size: 2em;
	margin: 1em 0.5em 0;
}

.fa.fa-vk {
	font-size: 2.5em;
	margin: 0 0.2em;
}

.address,
.address a {
	color: #fff;
}

.address {
	width: 80%;
	margin-top: 1%;
	padding: 5px 0;
	border-top: solid #fb4614;
	text-align: right;
}

.address p {
	margin: 1em;
}

.rr {
	width: 100%;
}

.rr p {
	margin: 0
}
